altgraph==0.17.2
certifi==2021.10.8
charset-normalizer==2.0.12
future==0.18.2
idna==3.3
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
PySimpleGUI==4.57.0
pyzk==0.9
requests==2.27.1
urllib3==1.26.9
